@{
    ViewBag.Title = "Home Page";
}

<div id="background_index">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
        <span>
            CADERNETA DIGITAL
        </span>
        <br>
        <span>
            Vê aqui os teus resultados
        </span>
    </div>
</div>